.hover-style {
    transition: color 0.3s ease;
  }
  
  .hover-style-active {
    color: #915EFF;
    font-weight: bold;
  }
  
  .tech-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .skill-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .about-section ul {
    padding-left: 20px;
  }
  .skill-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    margin-left: 20px;
  }
    