.certificate-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  
  .certificate-image {
    max-width: 60%; /* Adjust this value as needed */
    height: auto;
    border-radius: 5px;
  }
  
  